.projects .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    margin: 0;
    
}
.projects .col img{
    width: 100%;
    height: auto;
}
.projects .col h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 1rem 0;
}
.projects .row{
    display: flex;
    width: 100;
    margin: 0 auto;
}
.colCard{
    display: flex;
    flex-direction: column;
    
}
.projects {
    padding: 80px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .projects h2 {
	font-size: 45px;
	font-weight: 700;
    text-align: center;
}

.projects p {
    color: #555;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: left;
    width: 56%;
  }

.proj-imgbx{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items:center;
    justify-content: center;
    
}
.proj-imgbx img{
    width: 100%;
    height: auto;
}
.proj-imgbx a{
    padding: 3rem;
    width: 30rem;
    height: auto;
    border-right: 1px solid #333;

}
.proj-txtx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 3rem;
    

}

.colCard :hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    
}

@keyframes show {
    from{
        opacity: 0;
        transform: scale(0.25);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.projects img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 0.25 cover 0.3;
    
}